@import './mixins.scss';

// Sailec
@font-face {
  font-family: Sailec;
  src: url('../assets/Sailec/Sailec-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: Sailec;
  src: url('../assets/Sailec/Sailec-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: Sailec;
  src: url('../assets/Sailec/Sailec-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: sfprodisplay;
  src: url('../assets/sfprodisplay/SFProDisplay-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: sfprodisplay;
  src: url('../assets/sfprodisplay/SFProDisplay-Medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: sfprodisplay;
  src: url('../assets/sfprodisplay/SFProDisplay-Bold.woff');
  font-weight: 700;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  color: #24292e;
  width: 100%;
  background: #e5e5e5;
  min-height: 100vh;
  font-family: 'sfprodisplay', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  outline: none !important;
}

.btn {
  border-radius: 25px;
  padding-left: 18px;
  padding-right: 18px;
}

.btn-not-rounded {
  border-radius: 6px;
}

.btn-rounded {
  min-width: 160px;
  height: 50px;

  &.btn-success {
    background-color: #57b846;
    border-color: #57b846;
  }
}

.btn-text-link {
  font-size: 13px;
  line-height: 1.4;
  color: #999;

  &__big {
    font-size: 15px;
  }

  &:hover {
    color: #57b846;
    text-decoration: none;
  }
}

.box {
  position: relative;
  border-top: 0;
  margin-bottom: 20px;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(97, 106, 120, 0.07);

  &__header {
    color: #455a64;
    display: block;
    padding: 0.8rem 1.25rem;
    position: relative;
    border-bottom: 1px solid rgba(97, 106, 120, 0.07);
  }

  &__body {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 1.25rem;
    border-radius: 0 0 0 0;
    flex: 1 1 auto;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.btn-list {
  background: transparent;
  color: #93a2dd;
  border: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  padding: 3px 6px;
  margin-left: 6px;
  font-size: 14px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: none;
}

.row-columns {
  display: flex;
  justify-content: space-between;

  &__centered {
    justify-content: center;
  }

  @include respond-to(xs) {
    flex-direction: column;
    justify-content: initial;
  }
}

.container-responsive {
  @include respond-to(xs) {
    padding-left: 0;
    padding-right: 0;
  }
}

canvas {
  height: auto !important;
  width: 100% !important;
  max-width: calc(100% * 0.6);

  @include respond-to(xs) {
    max-width: 100%;
  }
}

.modal-body canvas {
  max-width: 100% !important;
}

.animated-div {
  transition: 0.3s;
}
