.question-item {
  color: #373737;
  margin-top: 10px;
  padding-top: 15px;

  &__first {
    margin-top: 0;
    padding-top: 0;
  }

  &:not(:first-child) {
    border-top: thin solid rgba(97, 106, 120, 0.07);
  }

  &__layout {
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__name {
        flex: 1;
      }

      &__actions {
        margin-left: 15px;
      }
    }

    &__answers {
      margin-top: 5px;

      li::marker {
        display: inline-block;
        vertical-align: middle;
      }

      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 15px;
        font-size: 0.9rem;

        > div:first-child {
          flex: 1;
        }

        > div:last-child {
          margin-left: 15px;
        }
      }
    }
  }
}
