.voteboard-item {
  .box__body > .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;

    label {
      display: initial;
      margin-bottom: 0;
      flex: 1 0;
    }
  }
}

.progress-bar {
  &.bg-pb-custom-1 {
    background-color: #8884d8;
  }

  &.bg-pb-custom-2 {
    background-color: #82ca9d;
  }

  &.bg-pb-custom-3 {
    background-color: #b45cc3;
  }

  &.bg-pb-custom-4 {
    background-color: #9816f4;
  }

  &.bg-pb-custom-5 {
    background-color: #ff7844;
  }

  &.bg-pb-custom-6 {
    background-color: #c35c61;
  }
}
