@import '#/styles/mixins.scss';

.navbar {
  width: 100%;
  background: #fff;
  transition: 0.2s;
}

.triangle-down {
  transition: 0.2s;
  cursor: pointer;
  position: fixed;
  margin-top: 65px;
  width: 0;
  height: 0;
  bottom: -10px;

  &.center {
    margin: auto;
    margin-top: auto;
    position: absolute;
    left: 0;
    right: 0;
  }

  p {
    text-align: center;
    color: #ccc;
    margin-top: -13px;
    margin-left: -13px;
    transition: color 0.2s;
  }
}

.navbar-hidden .triangle-down {
  bottom: -30px;
}

.navbar-hidden {
  margin-top: -93px;
}

nav.navbar {
  transition: 0.2s;

  .navbar-brand {
    display: flex;
    flex-direction: revert;
    align-items: center;

    span {
      font-size: 1.5rem;
      font-weight: 800;
    }
  }

  .nav-item {
    @include respond-from(md) {
      &:not(:first-child) {
        margin-left: 25px;
      }
    }

    .nav-link {
      text-transform: uppercase;
      font-weight: 500;
      position: relative;

      span::after {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        background: transparent;
        transition: 0.2s;
        bottom: 0;

        @include respond-from(md) {
          bottom: -25px;
        }
      }
    }
  }

  .collapse {
    @include respond-from(lg) {
      margin-left: 100px;
    }
  }

  // Theming
  &.navbar-light {
    .navbar-brand span {
      color: #353535;
    }

    .nav-item {
      .nav-link {
        color: #353535;
      }

      .nav-link.active {
        color: #56b0e0;

        span::after {
          background: #56b0e0;
        }
      }
    }
  }
}
