.cabinet {
  background: rgb(246, 250, 251);
  height: 100%;

  &__inner {
    padding: 30px 15px;
  }

  &-items {
    margin-top: 25px;
  }

  .text-subtitle {
    font-size: 1.25rem;
    margin: 0 0.75rem;
  }
}
