.cabinet {
  background: rgb(246, 250, 251);
  height: 100%;

  &__inner {
    padding: 30px 30px;
  }

  &-items {
    margin-top: 25px;

    &__table {
      thead {
        background: rgb(230, 230, 230);

        th {
          border-bottom: none !important;
          border-top: none !important;
          font-weight: 400;
        }
      }

      tbody {
        td {
          font-size: 14px;
        }
      }

      &__tags {
        color: rgb(104, 183, 220);
      }
    }
  }
}
